
body{
  background-color: rgb(223, 185, 185);
  color: black;
  font-family: 'Metal Mania', cursive;
}


div{
  background-color: red;
  border: 5px solid black;
  height: 300px;
  width: 300px;
  padding: 10px;
  /*display: inline; Punto uno*/
   /*display: inline-block; Punto dos*/
}

#div1{
  background-color: blue;
  box-sizing: content-box;
  margin: auto;
}

img{
  width: 300px;
  height: 300px;
}